body, html {
  margin: auto;
  padding: auto;
}

body {
  font-family: 'Rammetto One', cursive;
  background: url("../images/succulent.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  font-size: 60px;
  text-align: center;
}

h1 {
  text-align: center;
}

#splash {
  width: 50%;
  height: 50%
  border: 1px solid black;
  margin: auto;
  display: block;
}

#startgame {
  height: 50px;
  width: 150px;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
  margin: 40px auto 50px auto;
  font-family: 'Rammetto One', cursive;
  display: block;
}

.turncount {
  text-align: center;
  display: none;
  font-size: 24px;
}

.gameboard {
    margin: 30px auto;
  	display: none;
  	border: 1px solid black;
  	width: 1200px;
  	height: 400px;
    background: url("../images/board.jpg");
  	border-radius: 30px;
}

.store {
  flex: 1;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

.rows {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.p2row {
  display: flex;
  flex-direction: row-reverse;
}

.p1row {
  display: flex;
}

.pit {
  border: 2px solid black;
  height: 125px;
  width: 125px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

.stone {
  background: radial-gradient(circle at 15px 15px, #3D85C6, #000);
  float: left;
  margin: 5px 0 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
