body, html {
  margin: auto;
  padding: auto;
}

body {
  font-family: 'Rammetto One', cursive;
}

header {
  font-size: 60px;
  text-align: center;
}

.turncount {
  text-align: center;
}

.gameboard {
    margin: 30px auto;
  	display: flex;
  	border: 1px solid black;
  	width: 1200px;
  	height: 400px;
  	border-radius: 30px;
}

.store {
  flex: 1;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.rows {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.p2row {
  display: flex;
  flex-direction: row-reverse;
}

.p1row {
  display: flex;
}

.pit {
  border: 1px solid black;
  height: 120px;
  width: 120px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
}

.stone {
  background: #3D85C6;
  float: left;
  margin: 5px 0 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
